@charset "UTF-8";
$header-fix: true; //true: 헤더가 상단 고정일 경우입니다.

.sub-body {
	.header {
		transition: top 0.3s;
	}
}

.header {
	.header-wrap {
		height: $nav-height;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1800px;
		@include mdq-max(xl) {
			height: $nav-height-lg;
		}
		.logo {
			flex: 0 0 auto;
			img {
				width: rem(200);
				@include mdq-max(xl) {
					width: rem(160);
				}
			}
			.logo-origin {
				display: none;
			}
			.logo-white {
				display: block;
			}
		}
		.util-wrap {
			@include d-between;
			gap: 20px;
			.lang-item {
				img {
					width: 22px;
					filter: invert(0.5) brightness(2.5);
				}
			}
			.link-item {
				display: block;
				background-color: none;
				border-radius: 20px;
				color: white;
				border: 1.5px solid white;
				padding: 5px 20px;
				@include mdq-max(xl) {
					display: none;
				}
			}
			.total-item {
				cursor: pointer;
				img {
					width: 24px;
					filter: invert(0.5) brightness(2.5);
				}
				@include mdq-max(xl) {
					display: none;
				}
			}
		}
	}

	&.up {
		top: -101px;
	}

	&.fixed {
		background-color: #fff;
		.header-wrap {
			.logo {
				.logo-origin {
					display: block;
				}
				.logo-white {
					display: none;
				}
			}
			.util-wrap {
				.lang-item {
					img {
						filter: none;
					}
				}
				.link-item {
					background-color: $color-1;
					color: white;
					border: 2px solid $color-1;
				}
				.total-item {
					img {
						filter: none;
					}
				}
			}
		}
		.nav {
			&.gnb-drop--each {
				position: relative;
				// /* box */
				.nav-list--depth1 {
					.depth-1 {
						> .link {
							color: #111;
						}
					}
				}
			}
		}
	}
}

.header-gnb {
	border-bottom: 1px solid rgba(238, 238, 238, 0.5);
	background-color: transparent;
	width: 100%;
	z-index: 500;
	@if ($header-fix == true) {
		position: fixed;
		top: 0;
		left: 0;
		@at-root html {
			scroll-padding-top: $nav-height + $container-gutter-width/2; //input required 브라우저 메시지 포커싱 위치를 맞춰줍니다.
		}
	}
	@include mdq-max(lg) {
		@at-root html {
			scroll-padding-top: $nav-height-lg + $container-gutter-width/2; //input required 브라우저 메시지 포커싱 위치를 맞춰줍니다.
		}
	}

	&.off {
		background-color: rgba(#222222, 1) !important;
		.nav {
			display: none;
		}
		.header-wrap {
			.logo {
				.logo-origin {
					display: none !important;
				}
				.logo-white {
					display: block !important;
				}
			}
			.util-wrap {
				.lang-item {
					img {
						filter: invert(0.5) brightness(2.5) !important;
					}
				}
				.link-item {
					background-color: transparent !important;
					color: white !important;
					border: 1.5px solid white !important;
				}
				.total-item {
					img {
						filter: invert(0.5) brightness(2.5) !important;
						display: none;
					}
					.close-ico {
						display: block;
						color: white;
						font-size: 34px;
					}
				}
			}
		}
	}

	.close-ico {
		display: none;
	}

	.lang-item {
		position: relative;
		@include mdq-max(xl) {
			position: absolute;
			right: 60px;
			top: 50%;
			transform: translateY(-50%);
		}
		img {
			display: block;
			position: relative;
			z-index: 2;
			cursor: pointer;
		}
		.lang-wrap {
			overflow: hidden;
			position: absolute;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
			border-radius: 20px;
			width: 85px;
			opacity: 0.5;
			transition: all 0.3s;
			height: auto;
			.inner {
				padding: 8px 20px;
				display: flex;
				gap: 10px;
				opacity: 0;
				transition: all 0.3s;
			}
		}
		&.open {
			img {
				filter: invert(0.5) brightness(2.5) !important;
			}
			.lang-wrap {
				background: #000;
				width: 143px;
				opacity: 1;
				.inner {
					opacity: 1;
				}
				.lang {
					display: block;
					color: #666;
					&.active {
						color: white;
					}
				}
			}
		}
	}

	&.gnb-hover {
		background-color: #fff !important;
		.header-wrap {
			.logo {
				.logo-origin {
					display: block;
				}
				.logo-white {
					display: none;
				}
			}
			.util-wrap {
				.lang-item {
					img {
						filter: none;
					}
				}
				.link-item {
					background-color: $color-1;
					color: white;
					border: 2px solid $color-1;
				}
				.total-item {
					img {
						filter: none;
					}
				}
			}
		}
		.nav {
			&.gnb-drop--each {
				position: relative;
				// /* box */
				.nav-list--depth1 {
					.depth-1 {
						> .link {
							color: #111;
						}
					}
				}
			}
		}
	}

	@include mdq-max(xl) {
		&.fixed {
			.nav-mobile__btn {
				color: #222;
			}
		}
	}
}

.fp-viewing-2,
.fp-viewing-3,
.fp-viewing-4,
.fp-viewing-5 {
	.header-gnb {
		@include mdq-min(xl) {
			background-color: rgba(0, 0, 0, 0.3);
			.header-wrap {
				.util-wrap {
					.lang-item {
						img {
							filter: invert(0.5) brightness(2.5);
						}
					}
					.link-item {
						background-color: transparent;
						color: white;
						border: 1.2px solid white;
					}
				}
			}
			&.fixed {
				background-color: transparent;
				border-bottom: 1px solid rgb(223 223 223);
				.header-wrap {
					.util-wrap {
						.lang-item {
							img {
								filter: invert(1) brightness(0);
							}
						}
						.link-item {
							background-color: transparent;
							color: #222;
							border: 1.5px solid #c3c3c3;
						}
					}
				}
			}
		}
	}
}

.fp-viewing-2 {
	.header-gnb {
		&.fixed {
			@include mdq-min(xl) {
				background-color: transparent;
			}
		}
	}
}

.fp-viewing-5 {
	#fp-nav {
		display: none;
	}
	.scroll-wrap {
		display: none;
	}
}

.main-body,
.sub-body {
	@if ($header-fix == true) {
		// padding-top: $nav-height;
		@include mdq-max(lg) {
			// padding-top: $nav-height-lg;
		}
	}
}
.main {
	min-height: 65vh;
}

// 스크롤
.main-body,
.sub-body {
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		background: $color-1;
		border-radius: 7px;
	}

	&::-webkit-scrollbar-track {
		background-color: #eeeeee;
		border-radius: 10px;
	}
}

// 전체 메뉴 클릭시 나타나는 네비
.header-menu {
	position: fixed;
	top: $nav-height;
	left: 0;
	right: 0;
	height: 100%;
	background-color: rgba(#222222, 1);
	transition: 0.2s;
	z-index: 101;
	display: none;

	@media (max-width: 1280px) {
		height: auto;
		padding: 20px;
	}

	@include mdq-max(lg) {
		top: $nav-height-lg;
	}

	&.open {
		display: block;
	}

	.manu-wrap {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		color: #fff;
		height: 100%;
	}

	.nav-bx {
		flex: 1 0 70%;
		max-width: 70%;
		display: flex;
		padding-left: 10%;
		margin-top: 7rem;

		@include mdq-max(xxl) {
			flex: 1 0 65%;
			max-width: 65%;
			padding-left: 50px;
		}

		@media (max-width: 1280px) {
			margin-top: 0;
		}

		.nav {
			.nav-list--depth1 {
				display: block;

				.depth-1 {
					display: flex;
					align-items: center;
					// margin-bottom: 20px;
					// padding-bottom: rem(35);

					> .link {
						flex: 1;
						font-size: em(52);
						font-weight: 300;
						color: #626262;
						padding: 0 rem(25);
						// height: auto !important;
						position: relative;

						@include mdq-max(xxl) {
							font-size: 2.25em;
						}

						&::before {
							content: '';
							position: absolute;
							left: -20px;
							top: 50%;
							transform: translateY(-50%);
							font-size: rem(20);
							color: #fff;
							font-weight: 500;
							transition: 0.2s;
							opacity: 0;
						}

						&:after {
							display: none !important;
						}
					}

					&:nth-of-type(1) {
						> .link {
							&::before {
								content: '01';
							}
						}
					}
					&:nth-of-type(2) {
						> .link {
							&::before {
								content: '02';
							}
						}
					}
					&:nth-of-type(3) {
						> .link {
							&::before {
								content: '03';
							}
						}
					}
					&:nth-of-type(4) {
						> .link {
							&::before {
								content: '04';
							}
						}
					}
					&:nth-of-type(5) {
						> .link {
							&::before {
								content: '05';
							}
						}
					}

					&.hover {
						> .link {
							color: $danger;

							&::before {
								opacity: 1;
							}
						}
						.nav-list--depth2 {
							display: flex;
						}
					}
				}
			}

			.nav-list--depth2 {
				display: flex;
				align-items: center;
				position: relative;
				background-color: transparent !important;

				.depth-2 {
					margin-top: 0;
					> .link {
						display: inline-flex;
						font-size: em(18);
						color: #fff;
						padding: 0 rem(20);
					}
				}
			}

			.nav-list--depth3 {
				display: none !important;
			}
		}
	}

	.notice-bx {
		flex: 1 0 30%;
		max-width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-left: 1px solid rgba(238, 238, 238, 0.5);
		padding: 0 rem(80);

		@include mdq-max(xxxl) {
			padding: 0 rem(40);
		}

		@include mdq-max(xxl) {
			flex: 1 0 35%;
			max-width: 35%;
			padding: 0 rem(40);
		}

		.notice-title {
			font-size: em(36);
			font-weight: 300;
			margin-bottom: rem(10);
		}

		.notice-inner {
			position: relative;
			padding-bottom: rem(50);

			.swiper-control {
				position: absolute;
				bottom: 0;
				width: 100%;
				z-index: 50;

				.swiper-pagination {
					position: relative;
					&-bullet {
						width: 13px;
						height: 13px;
						margin: 0 8px;
						border: 2px solid #666;
						background: transparent !important;
						opacity: 1;
						display: inline-block;

						@include mdq-max(lg) {
							width: 11px;
							height: 11px;
							margin: 0 6px;
						}
					}

					.swiper-pagination-bullet-active {
						background: $color-1 !important;
						border: 2px solid $color-1;
					}
				}
			}

			.swiper-btn-bx {
				position: absolute;
				top: 3%;
				right: 0;
				z-index: 50;
				display: flex;
				align-items: center;

				.swiper-button {
					color: #fff;
					font-size: em(27);
					margin: 0 7px;
				}
			}
		}

		.swiper-slide {
			.link {
				display: block;
				.img-bx {
					background-color: #fff;
					border-radius: 20px;
					@include img-to-bg(percentage(280/420));
				}
				// .txt-bx {
				// 	.tit {
				// 		font-size: 1.25rem;
				// 		font-weight: 300;
				// 		text-align: left;
				// 		color: #fff;
				// 		margin-top: 30px;
				// 	}
				// 	.txt {
				// 		font-size: 0.875rem;
				// 		font-weight: 300;
				// 		line-height: 1.875rem;
				// 		letter-spacing: -0.28px;
				// 		text-align: left;
				// 		color: rgba(255, 255, 255, 0.3);
				// 		margin-top: 25px;
				// 	}
				// }
				.txt-bx {
					.tit {
						font-size: rem(20);
						@include text-truncate(1);
						margin-top: 30px;
					}
					.date {
						display: block;
						font-size: rem(15);
						color: $gray-6;
						margin-top: 15px;
					}
				}
			}
		}
	}
	.link-wrap {
		display: none !important;
	}
}
