/* Made by Masstige */
.research-tab .tab-header .tab-item .link {
  min-width: 200px;
}
@media (max-width: 1280px) {
  .research-tab .tab-header .tab-item .link {
    min-width: 150px;
  }
}
@media all and (max-width: 768px) {
  .research-tab .tab-header .tab-item .link {
    min-width: 95px;
  }
}

.research-ban {
  position: relative;
  margin-bottom: 80px;
}
.research-ban .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
}
.research-ban .img-bx > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.research-ban .img-bx:after {
  content: "";
  display: block;
  padding-bottom: 18.75%;
}
@media all and (max-width: 768px) {
  .research-ban .img-bx:after {
    content: "";
    display: block;
    padding-bottom: 83.3333333333%;
  }
}
.research-ban .tit-bx {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
.research-ban .tit-bx .tit {
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 2.781rem;
  text-align: center;
  color: #111;
  margin-bottom: 15px;
}
.research-ban .tit-bx .txt {
  font-size: 1.406rem;
  font-weight: 300;
  line-height: 2.219rem;
  text-align: center;
  color: #333;
}

.research-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.research-wrap .research-category {
  flex: 0 0 20%;
  max-width: 20%;
}
.research-wrap .research-category .cate-list .cate-item .link {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  color: #999;
  display: block;
  padding-left: 0;
  transition: all 0.5s;
  margin-bottom: 15px;
}
@media all and (max-width: 768px) {
  .research-wrap .research-category .cate-list .cate-item .link {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
.research-wrap .research-category .cate-list .cate-item .link:before {
  content: "";
  opacity: 0;
  transition: all 0.5s;
}
.research-wrap .research-category .cate-list .cate-item:hover .link, .research-wrap .research-category .cate-list .cate-item.active .link {
  position: relative;
  font-weight: 600;
  color: #111;
  padding-left: 30px;
}
.research-wrap .research-category .cate-list .cate-item:hover .link:before, .research-wrap .research-category .cate-list .cate-item.active .link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #da291c;
  width: 22px;
  height: 5px;
  border-radius: 5px;
  opacity: 1;
}
@media all and (max-width: 768px) {
  .research-wrap .research-category .cate-list .cate-item:hover .link, .research-wrap .research-category .cate-list .cate-item.active .link {
    padding-left: 0;
  }
  .research-wrap .research-category .cate-list .cate-item:hover .link:before, .research-wrap .research-category .cate-list .cate-item.active .link:before {
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}
.research-wrap .research-category .cate-list.fixed {
  position: fixed;
  top: 200px;
  left: 0;
  margin-left: 13.5vw;
}
@media (max-width: 1600px) {
  .research-wrap .research-category .cate-list.fixed {
    top: 190px;
    margin-left: 4.5vw;
  }
}
@media all and (max-width: 1200px) {
  .research-wrap .research-category .cate-list.fixed {
    top: 160px;
    margin-left: 2.5vw;
  }
}
@media all and (max-width: 768px) {
  .research-wrap .research-category .cate-list.fixed {
    top: 130px;
    margin-left: 4vw;
  }
}
.research-wrap .research-contents {
  flex: 1 1 auto;
  max-width: 100%;
}
.research-wrap .research-contents .contents-list .contents-item {
  margin-bottom: 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
  overflow: hidden;
}
.research-wrap .research-contents .contents-list .contents-item .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
}
.research-wrap .research-contents .contents-list .contents-item .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 41.0714285714%;
}
.research-wrap .research-contents .contents-list .contents-item .img-bx > img,
.research-wrap .research-contents .contents-list .contents-item .img-bx video, .research-wrap .research-contents .contents-list .contents-item .img-bx iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.research-wrap .research-contents .contents-list .contents-item .txt-bx {
  padding: 50px;
}
@media all and (max-width: 768px) {
  .research-wrap .research-contents .contents-list .contents-item .txt-bx {
    padding: 20px;
  }
}
.research-wrap .research-contents .contents-list .contents-item .txt-bx .tit {
  font-size: 1.594rem;
  font-weight: 500;
  line-height: 2.844rem;
  text-align: left;
  color: #111;
  margin-bottom: 20px;
}
.research-wrap .research-contents .contents-list .contents-item .txt-bx .des {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
  text-align: left;
  color: #555;
}

.better-food__title {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.469rem;
  text-align: left;
  color: #111;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media all and (max-width: 1024px) {
  .better-food__title {
    margin-top: 50px;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.better-tit {
  font-size: 2.469rem;
  font-weight: 500;
  line-height: 3.469rem;
  text-align: center;
  color: #da291c;
}
@media all and (max-width: 1024px) {
  .better-tit {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.img_board_list.type_food .img_box {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 20px;
}
.img_board_list.type_food .img_box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img_board_list.type_food .img_box > img,
.img_board_list.type_food .img_box video, .img_board_list.type_food .img_box iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.img_board_list.type_food .txt_box .tit {
  text-align: center;
}
.img_board_list.type_awards .img_box {
  display: block;
  position: relative;
  overflow: hidden;
}
.img_board_list.type_awards .img_box::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
.img_board_list.type_awards .img_box > img,
.img_board_list.type_awards .img_box video, .img_board_list.type_awards .img_box iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.img_board_list.type_awards .txt_box {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
}
.img_board_list.type_awards .txt_box .tit {
  font-size: 1.625rem;
  font-weight: 300;
  color: #111;
  white-space: pre-wrap;
  overflow: initial;
  word-break: break-word;
}
@media all and (max-width: 768px) {
  .img_board_list.type_awards .txt_box .tit {
    font-size: 1.4rem;
  }
}
.img_board_list.type_awards .txt_box .txt {
  font-weight: 500;
  color: #da291c;
  overflow: initial;
  margin-top: 12px;
}
.img_board_list.type_awards .txt_box .des {
  display: block;
  font-size: 1rem;
  line-height: 2.125rem;
  color: #777;
  margin-top: 8px;
  height: auto;
  line-height: inherit;
  white-space: pre-wrap;
  overflow: initial;
}

@media all and (max-width: 768px) {
  .table-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.board-search-01 {
  max-width: 480px;
  border-bottom: none;
}
.board-search-01 fieldset {
  display: flex;
  align-items: center;
  gap: 20px;
}
.board-search-01 .input-type-01 {
  border-bottom: 1px solid #ddd;
}
.board-search-01 .select-bx {
  position: relative;
  flex: 0 0 30%;
  max-width: 30%;
  border-bottom: 1px solid #ddd;
}
.board-search-01 .select-bx .select-title {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-image: url(../images/icon/select_icon_2x.png);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  background-size: 15px;
}
.board-search-01 .select-bx .select-title.on {
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-image: url(../images/icon/select_icon_up_2x.png);
}
.board-search-01 .select-bx .inner {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 10px;
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
  z-index: 30;
}
.board-search-01 .select-bx .inner.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.board-search-01 .select-bx .inner label {
  width: 100%;
  text-align: left;
}
.board-search-01 .select-bx .inner label span {
  display: inline-block;
  padding-left: 5px;
}
@media all and (max-width: 768px) {
  .board-search-01 .select-bx .inner label span {
    font-size: 12px;
  }
}

.section--04.life-section {
  background: url("../images/main/section4-bg.jpg") no-repeat;
  background-size: cover;
  padding: 7rem 0;
}
.section--04.life-section .tit-wrap .tit {
  color: white;
}
.section--04.life-section .tit-wrap .txt {
  color: white;
}
.section--04 .tab-content-02 .swiper-container .swiper-wrapper {
  height: auto !important;
}
.section--04 .tab-content-02 .swiper-container .swiper-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.section--04 .tab-content-02 .swiper-container .swiper-control .swiper-pagination {
  position: relative;
}
.section--04 .tab-content-02 .swiper-container .swiper-control .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: white;
  border: 1px solid #999;
  opacity: 1;
}
.section--04 .tab-content-02 .swiper-container .swiper-control .swiper-pagination-bullet-active {
  background-color: #da291c;
  border: 1px solid #da291c;
}
.section--04 .tab-content-02 .swiper-container .swiper-control .swiper-play {
  cursor: pointer;
  padding-top: 2px;
  font-size: 18px;
}
@media all and (max-width: 768px) {
  .section--04 .tab-content-02 .swiper-container .swiper-control .swiper-play {
    padding-top: 1px;
  }
}
.section--04 .tab-content-02 .swiper-container .swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.section--04 .tab-content-02 .swiper-container .swiper-button--prev {
  left: 50px;
}
.section--04 .tab-content-02 .swiper-container .swiper-button--next {
  right: 50px;
}
@media all and (max-width: 1200px) {
  .section--04 .tab-content-02 .swiper-container .swiper-button--prev {
    left: 20px;
  }
  .section--04 .tab-content-02 .swiper-container .swiper-button--next {
    right: 20px;
  }
}
@media all and (max-width: 768px) {
  .section--04 .tab-content-02 .swiper-container .swiper-button img {
    width: 20px;
  }
  .section--04 .tab-content-02 .swiper-container .swiper-button--prev {
    left: 10px;
  }
  .section--04 .tab-content-02 .swiper-container .swiper-button--next {
    right: 10px;
  }
}
.section--04 .life-wrapper {
  position: relative;
}
.section--04 .life-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-bottom: 7rem;
  padding-top: 3rem;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1280px) {
  .section--04 .life-inner {
    padding-bottom: 4.5rem;
    padding-top: 1.8rem;
  }
}
@media all and (max-width: 768px) {
  .section--04 .life-inner {
    width: 85%;
    padding: 3rem 1.5rem;
    padding-bottom: 5rem;
  }
}
.section--04 .life-inner.view-inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 1280px) {
  .section--04 .life-inner.view-inner {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
.section--04 .life-inner .tit {
  display: block;
  font-size: 2.125rem;
  line-height: 1.5;
  font-weight: bold;
  color: #222;
  margin-bottom: 40px;
}
.section--04 .life-inner .txt {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #555;
  width: 80%;
  margin: 0 auto;
}
.section--04 .life-inner .g-txt {
  font-size: 1rem;
}
@media (max-width: 1280px) {
  .section--04 .life-inner .tit {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  .section--04 .life-inner .g-txt {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}
@media all and (max-width: 768px) {
  .section--04 .life-inner .txt {
    font-size: 1rem;
    line-height: 1.3rem;
    height: auto;
  }
}
@media all and (max-width: 1200px) {
  .section--04 {
    padding: 5rem 0;
  }
}

.view-section {
  position: relative;
}
@media all and (max-width: 1200px) {
  .view-section {
    padding: 0 !important;
  }
}
.view-section .img-bx {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.view-section .img-bx::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.view-section .img-bx > img,
.view-section .img-bx video, .view-section .img-bx iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.view-section .img-bx > img {
  min-height: 1000vh;
}
.view-section .img-bx::after {
  padding-bottom: 30%;
}
@media (max-width: 1400px) {
  .view-section .img-bx::after {
    padding-bottom: 60%;
  }
}
@media all and (max-width: 768px) {
  .view-section .img-bx::after {
    padding-bottom: 70%;
  }
}
@media all and (max-width: 576px) {
  .view-section .img-bx::after {
    padding-bottom: 90%;
  }
}
@media (max-width: 480px) {
  .view-section .img-bx::after {
    padding-bottom: 130%;
  }
}
@media (max-width: 400px) {
  .view-section .img-bx::after {
    padding-bottom: 150%;
  }
}
/*# sourceMappingURL=research.css.map */